* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main-container {
  position: relative;
  width: 100vw;
  height: 91vh;
  border: solid black 5px;
  border-radius: 2vw;
  top: 1vh;
}

.title-cont {
  position: absolute;
  bottom: 1vh;
  width: 60vw;
  border: solid violet 2px;
  border-radius: 1vw;
  margin-left: 20vw;
}
.title-cont__title {
  text-align: center;
  font-size: calc(16px + 0.04 * (100vw - 400px));
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
}

.rock-container {
  position: absolute;
  width: 30%;
  height: 15%;
  transform: translateX(-50%);
  left: 50%;
  top: 5%;
  background-image: url(../images/rock.png);
  background-size: cover;
  border-radius: 50%;
}

.paper-container {
  position: absolute;
  width: 30%;
  height: 15%;
  transform: translateX(-50%);
  left: 50%;
  top: 25%;
  background-image: url(../images/paper.png);
  background-size: cover;
  border-radius: 50%;
}

.scissors-container {
  position: absolute;
  width: 30%;
  height: 15%;
  transform: translateX(-50%);
  left: 50%;
  top: 45%;
  background-image: url(../images/scissors.png);
  background-size: cover;
  border-radius: 50%;
}

.result-container {
  position: absolute;
  width: 100%;
  height: 60%;
  left: 0;
  top: 0;
}

.player-score {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 20%;
  height: 10%;
  top: 75%;
  left: 15%;
  background-color: rgb(0, 234, 255);
  font-size: 10vw;
  line-height: 1;
  text-align: center;
}

.comp-score {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 20%;
  height: 10%;
  top: 75%;
  right: 15%;
  background-color: rgb(0, 234, 255);
  font-size: 10vw;
  line-height: 1;
  text-align: center;
}
