.title-cont {
  box-sizing: border-box;
  position: fixed;
  bottom: 10vh;
  width: 60vw;
  border: solid violet 2px;
  border-radius: 1vw;
  margin-left: 20vw;
  margin-right: 20vw;
}
.title-cont__title {
  text-align: center;
  font-size: calc(16px + 0.04 * (100vw - 400px));
}
